<h1>About Us</h1>
<p>
	<div class="center hero-unit">
    <span style="color: #000000;">
    	Visual Vibez is not only a music blog that connects people to amazing music. We are also working on creating a whole new music experience. At this time we are teaching ourselves how to code, so bare with us because all of the utilities we wish were up, are still in development. 

    	Users will be able to pull music from youtube, soundcloud, bandcamp, and even upload their own mp3 to create their own vibe playlist and be able to stream at any time, rather their out on the go or on the computer. 

</p>
<span style="color: #000000;"><h1>Vibez coming soon!</span></h1>

</span>
</div>